@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #faf3ea;
  color: #1c1c1c;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, .font-heading {
  font-family: 'Sora', sans-serif;
}
